.board-point {
  position: relative;
  /* Контекст для позиционирования шашек внутри */
  display: flex;
  min-height: 0;
  /* Направление укладки шашек будет задано классом is-top */
}

.board-point.is-top {
  flex-direction: column;
}

.board-point.is-bottom {
  flex-direction: column-reverse;
}

.board-point.selected {
  box-shadow: inset 0 0 15px 5px rgba(255, 215, 0, 0.4);
  /* Gold glow for selection */
  background-color: rgba(255, 215, 0, 0.1);
}

.board-point.highlighted {
  box-shadow: inset 0 0 15px 5px rgba(0, 255, 255, 0.4);
  /* Neon Cyan glow for possible moves */
  background-color: rgba(0, 255, 255, 0.1);
}