.main-menu {
  min-height: 100vh;
  background-color: #03142A;
  padding: 40px 20px;
  position: relative;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

.menu-content {
  display: flex;
  flex-direction: column;
  gap: 8px;

}

@media (max-width: 768px) {
  .main-menu {
    padding: 20px 15px;
  }
}