#pre-splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url('/assets/load.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 20px;
  z-index: 9999;
}

#pre-splash-screen .age-restriction {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}
